.hw {
    width: 500px;
}

.contain {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

h1 {
    text-align: center;
    padding-top: 60px;
}

.pyrrha {
    display: flex;
    justify-content: center;
}